*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}
.header-content{
    padding: 10px 0px ;
}
.tm-handwriting-font {
    margin: 0;
    padding: 0;
    font-family:  cursive;
    text-transform: capitalize;
   
}
.header-content .img-logo {
    width: 42px;
    height: 51px;
}
.nav-link {
    padding: 10px 20px 10px 40px;
    color:antiquewhite;
    font-size: 20px;
    font-weight: 700;
    
}
.header-content .nav-link:hover {
    color:  #c79c60;
}

.header-content .nav-item{
    border: none;
}
.header-content .active1 {    
    background-image: url('./img/logo.png'),url(./img/nav-underline.png);
    background-repeat: no-repeat;
    background-color: none;
    background-size: 30px , 60% 15px;
    background-position: 0% 30% , center 100%;
    background-position-x: 0%, center ;
    background-position-y: 30% , 100%;
    color:  #c79c60;
    
}

.welcome-section{
    background-color: #282726;
    
}

.welcome-section .welcome-content{
    position: relative;
}
.welcome-section .welcome-header .text-welcome {
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    font-size: 60px;
    color: antiquewhite;
    
}
.welcome-section .welcome-header2 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 500;
    color:  #c79c60;
    font-size: 62px;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
}
.welcome-section .welcome-description{
    margin-top: 20px;
    max-width: 650px;
    
}
.welcome-description-p {
    text-align: justify;
}
.gray-text {
    color: gray;
}
 .gold-text {
    color: #c79c60;
} 
/* main */
.bg-gray{
    background-color: #e4e4e4;;
}

.btn{
    /* width: 100%; */
    margin: auto;
    padding: 3%;
    color: #c79c60;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-welcome{
    background-image: url('./img/tm-brown-button.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 46px;
}
.btn-welcome:hover ,.btn:hover{
    color: white;
}
.img-table-container{
    
}
.img-table {
    
    top: 100px;
    margin: auto;
    position: relative;
    
}
.img-circle{
    border-radius: 50%;
    padding: 8px;
    border: 1px solid rgb(238, 216, 216);
}
.btn-read{
    background-position: left;
}
.main-section{

}
.item-logo{
    padding: 0 0 0.5rem;
}

.popular-item{
    background: url('./img/popular-item-bg.png') no-repeat;
    background-size: 100% , 100%;
}
.popular-item{
    margin-bottom: 50px;
    margin-top: 20px;
    
}
.order-now{
    top: 95%;
    left: 35%;
    color: rgb(174, 174, 174);
}
.order-now-link{
    border: 2px solid rgb(174, 174, 174);
    border-radius: 50%;
    width: 78px;
    height: 78px;
    padding-top: 8px;
}
.order-now:hover{
    color: #c79c60;
}
.popular-item-title:hover{
    color: #c79c60;
}
.popular-item-title hr:hover{
    color: #c79c60;
}


.special-title{
    bottom: 0;
    left: 0;
    color: white;
}
.daily-menu p{
    margin-bottom: 0;
    font-weight: 400;
}

ol li {
    color: #c79c60;
    font-weight: 800;
}
ol li p {
    color: black;
    font-weight: 400;
}
ul li {
    list-style: none;
    margin-top: 5px;
}
.social-icon{
    background-color: #312314;
    color: white;
    display: inline-block;
    font-size: 25px;
    -webkit-transition: all 0.3s ease;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    padding-top: 4px;
    margin-right: 10px;
}